<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>

<body>
    <div class="content">
        <p><strong class="tdphong">Hotlline: 098.644.8886</strong>
        </p>
    </div>
    <p><strong class="tdphong">Kênh Dự án</strong></p>
    <div class="ppcon">
        <p><strong>Miền Nam</strong></p>
        <p>Mr Huỳnh Thanh Triều<br />
            email: <a href="mailto:trieuht.pda@lioa.com.vn">trieuht.pda@lioa.com.vn</a><br />
            Mobile: 0962303503</p>
        <p><strong>Miền Bắc</strong></p>
        <p>Ms Hoàng Lệ Minh<br />
            email: <em><a href="mailto:hoang_le.minh@lioa.com.vn">hoang_le.minh@</a></em><em
                style="line-height: 20.8px;"><a href="mailto:hoang_le.minh@lioa.com.vn">lioa.com.vn</a></em><br />
            Mobile: <em> 0944790439 </em>Tel: <em> 0221 3985321</em></p>
        <p>Mr Henry Nhạc<br />
            email: <em><a href="mailto:hoang_le.minh@lioa.com.vn">nhac-henry@</a></em><em
                style="line-height: 20.8px;"><a href="mailto:hoang_le.minh@lioa.com.vn">lioa.com.vn</a></em><br />
            Mobile: 0904208804<em> </em></p>
    </div>
    <p><strong class="tdphong">Phòng Xuất Khẩu</strong></p>
    <div class="ppcon">Ms Vũ Thanh Nga<br />
        email: <em><a href="mailto:nga.pxk@lioa.com.vn">nga.pxk@</a></em><em style="line-height: 20.8px;"><a
                href="mailto:nga.pxk@lioa.com.vn">lioa.com.vn</a></em><strong style="line-height: 1.6;"> </strong>
        <p> </p>
    </div>

</body>

</html>