<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.content {
    background: url(https://lioa.com.vn/sites/all/themes/evolve/assets/images/bando.png) no-repeat center 60px;
    min-height: 626px;
}
</style>

<body>
        <div class="content">
            <div class="row">
                <h2 class="td36"><span class="so">50</span> QUỐC GIA ĐANG PHÂN PHỐI SẢN PHẨM LiOA</h2>
            </div>
        </div>
</body>

</html>